* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-image: url("./img/BackgroundHeader.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 748px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 16px 0px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
header__nav-mob {
  display: none;
}

.header__input {
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  background-color: transparent;
  font-family: inherit;
  width: 288px;
  height: 41px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 32px;
  box-sizing: border-box;
}

.header__input::-moz-placeholder {
  color: white;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.header__input::placeholder {
  color: white;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.header__listref {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  list-style: none;
}

.header__listref-item {
  font-size: 16px;
  line-height: 20px;
  padding: 2px;
  text-decoration: none;
  color: white;
}

.header__listref-item:hover {
  text-decoration: underline;
}

.header__nav-mob {
  display: none;
}

.top__content-title {
  color: white;
  margin-top: 64px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  max-width: 792px;
  height: 140px;
}

.top__content-quote {
  color: white;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
}

.top__content-ref {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  padding: 2px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  transition: color 0.3s ease, -webkit-text-decoration 0.3s ease;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  transition: color 0.3s ease, text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
}

.top__content-ref:hover {
  color: black;
  text-decoration: none;
}

.for {
  margin-top: 64px;
}

.for__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.for__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  background-size: cover;
  height: 415px;
  grid-column: span 4;
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url("./img/for__item_1.jpg");
}

.for__item_2 {
  background-image: url("./img/for__item_2.jpg");
}

.for__item_3 {
  background-image: url("./img/for__item_3.jpg");
}

.for__item_4 {
  background-image: url("./img/for__item_4.jpg");
}

.for__item_5 {
  background-image: url("./img/for__item_5.jpg");
}

.product-box {
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
}

.margin-to-link-box {
  margin-bottom: 32px;
}

.product-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
}

.product {
  width: 378px;
}

.product__img {
  height: 250px;
}

.product-box__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.product__name {
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.product__information {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(136, 136, 136);
}

.product__price-box {
  display: flex;
  gap: 32px;
}

.product__price-box-item {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(5, 5, 5);
}

.product__price-box-item_old {
  text-decoration-line: line-through;
  color: #888888;
}

.link-box {
  margin-bottom: 64px;
}

.link-box__ref {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  transition: color 0.3s ease, -webkit-text-decoration 0.3s ease;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  transition: color 0.3s ease, text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
}

.link-box__ref:hover {
  color: rgb(136, 136, 136);
  text-decoration: none;
}

.footer {
  box-sizing: border-box;
  background: rgb(247, 246, 246);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 32px;
  height: 207px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.footer__content {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 129px;
       column-gap: 129px;
}

.footer__item-listref {
  list-style: none;
}

.footer__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer__item-contact {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}

.footer__item-contact:hover {
  text-decoration: underline;
}

.footer__item-listref-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
}

.footer__item-listref-item:hover {
  text-decoration: underline;
}

.footer__form-subscribe-title {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.footer__form-subscribe {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer__form-subscribe-input-email {
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 17px;
  padding-top: 12px;
  padding-bottom: 13px;
}

.footer__form-subscribe-input-email::-moz-placeholder {
  color: rgb(196, 196, 196);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__form-subscribe-input-email::placeholder {
  color: rgb(196, 196, 196);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__form-subscribe-button {
  background: rgba(222, 215, 215, 0.41);
  box-sizing: border-box;
  border-radius: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  color: #000000;
  font-family: inherit;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer__form-subscribe-button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer__contacts-vk {
  font-size: 0;
}

.footer__contacts-tg {
  font-size: 0;
}

.footer__contacts-dzen {
  font-size: 0;
}

.footer__contacts-vk:hover img,
.footer__contacts-tg:hover img,
.footer__contacts-dzen:hover img {
  filter: brightness(0) saturate(100%);
  transition: filter 0.3s ease;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-section {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product-section {
    justify-content: flex-start;
  }
  .product {
    width: 345px;
  }
  .product__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    border-bottom: none;
  }
  .header__input {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__img {
    width: 99px;
  }
  .header__nav-mob {
    display: block;
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .top__content-title {
    margin-top: 29px;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    display: inline-block;
  }
  .top__content-quote {
    margin-top: 17px;
    font-size: 16px;
    line-height: 32px;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  .top__content-ref {
    text-align: center;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 32px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
  }
  .for__title {
    font-size: 24px;
    line-height: 29px;
  }
  .product-box {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .product-box__title {
    font-size: 24px;
    line-height: 29px;
  }
  .product__img {
    width: 100%;
  }
  .product__name {
    font-size: 18px;
    line-height: 22px;
  }
  .product__price-box-item {
    font-size: 18px;
    line-height: 22px;
  }
  .link-box {
    margin-top: 4.39px;
    margin-bottom: 32px;
  }
  .footer {
    height: 364px;
    padding-bottom: 33px;
    flex-direction: column;
  }
  .footer__content {
    -moz-column-gap: 100px;
         column-gap: 100px;
    margin-bottom: 70px;
  }
  .footer__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footer__form-subscribe {
    width: 260px;
  }
}/*# sourceMappingURL=style.css.map */