@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }

    .product-section {
        column-gap: 29px;
        row-gap: 39px;
        justify-content: flex-start;
    }

    .footer__logo {
        display: none;
    }

     .cart {
        grid-template-columns: 1fr; /* Изменяем на одну колонку */
    }

     .cart__content {
        grid-column: span 12; /* Занимают всю ширину */
    }

    .cart__form{
    width: 376px; 
    }
}

@media(min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }


    .product {
        width: 345px;


        &__img {
            width: 100%;
            object-fit: cover;
        }
    }

}