@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }

    .product-section {
        column-gap: 29px;
        row-gap: 39px;
    }

    .footer__logo {
        display: none;
    }

    .filter__button-box-modal{
        right: -235px;
    }
}

@media(min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .product-section {
        justify-content: flex-start;
    }


    .product {
        width: 345px;


        &__img {
            width: 100%;
            object-fit: cover;
        }
    }
}